body{
	margin:0;
	font-size: 15px;
	line-height: 1.6 ;
	color:#1c0905;
	background:#1c0905;
}
*,
*:before,
*:after{
	box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}


/*Header*/
.header{
	width:100%;
	
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:1000;
	
	
}

.header__logo{
	max-width:10%;
	  
}

.header_inner{
	display:flex;
	justify-content:center;
	align-items:center;
}


/*Nav*/
.nav{
	font-size:40px;
	
}

.nav_link{
	display:inline-block;
	vertical-align:top;
	margin: 0 50px;
	
	color:#FFFFFF;
	text-decoration: none;
	
	transition:color: 0.2s linear;
}

.nav_link:hover{
	color:#DAA520;
}

.articles{
	
	margin-top:120px;
	margin-left:120px;
background:#FFFFFF;
	box-sizing:border-box;
color:black;
display:block;
font-family:"Roboto Slab", serif;
font-size:16px;
font-weight:400;
height:2980.6px;
line-height:24px;

text-size-adjust:100%;
width:1300px;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.articles_iner{
	
	margin-top:50px;
	display:block;
	height:600px;
	width:1000px;
	margin-left:180px;
	font-size:26px;
}
.f2{	
	display:inline-block;
	
	color:black;
	text-decoration: none;
	
	transition:color: 0.2s linear;
}

.f2:hover{
	color:#DAA520;
}

/*Social*/

.social{
	display:flex;
	vertical-align:top;
       
	   text-align:center;
	
}

.soc{
	
	margin-left:500px;
	
}

.social_item{
	
	display:black;
	
	color:#FFFFFF;
	text-decoration:none;
	font-size: 50px;
	padding:20px;
	line-height:1;
	transition:color: 0.2s linear;
}
.social_item :hover{
	color:#DAA520;
}

.social_item_2{
	
	display:black;
	
	color:#FFFFFF;
	text-decoration:none;
	font-size: 50px;
	padding:20px;
	line-height:1;
	transition:color: 0.2s linear;
}
.social_item_2 :hover{
	color:#1F76D2;
}

.social_item_ins{
	
	display:black;
	
	color:#FFFFFF;
	text-decoration:none;
	font-size: 50px;
	padding:20px;
	line-height:1;
	transition:color: 0.2s linear;
}
.social_item_ins :hover{
	color:#E1306C;
}
.social_item_yot{
	
	display:black;
	
	color:#FFFFFF;
	text-decoration:none;
	font-size: 50px;
	padding:20px;
	line-height:1;
	transition:color: 0.2s linear;
}
.social_item_yot :hover{
	color: #FD1D1D;
}


.contacts{
	background:#FFFFFF;
		display:flex;
	vertical-align:top;
	   text-align:center;
	height:100px;
}

.cont_qer{
	margin-top:20px;
	margin-left:160px;
line-height:40px;
		display:block;
	color:black;
	text-decoration:none;
	font-size:30px;
	padding:20px;
	line-height:0;
}